 <!-- footer -->
 <div id="footer">
    <div class="container">
        <div class="row footer-f">

            <div id="logo-f" class="col-lg-4 col-md-6 col-sm-12">
                <img src="./images/New folder/logo xoa phong.png" style="margin-left: 30%;" />
                <p> <img src="./images/New folder/icon-nhà.png" /><span style="font-weight: bold;">Công Ty TNHH Sản
                        Xuất và Thương Mại Phú Bình Việt Nam </span></p>
                <p><img src="./images/New folder/icon-dia chi.png" /><span style="font-weight: bold;">Địa Chỉ:
                    </span> <span style="font-size: 10px;">Đại Phú, Xã Châu Sơn, Huyện Quỳnh Phụ, Tỉnh Thái
                        Bình</span></p>
                <p><img src="./images/New folder/icon-thu.png" /><span style="font-weight: bold;">Mail: </span>
                    Kinhdoanh.deevisco@gmail.com</p>
                <p><img src="./images/New folder/icon hotline footer.png" /><span
                        style="font-weight: bold;">Hotline: </span> 02422.168.568 - <span
                        style="font-weight: bold;">CSKH: </span> 09.222.73.111</p>

            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                <p><span style="font-weight: bold;">CHĂM SÓC KHÁCH HÀNG</span></p>
                <a href="/">Hỏi đáp - FAQs</a><br>
                <a href="/">Blog DEEVISCO™</a><br>
                <a href="/">Trải Nghiệm Mua Sắm Hài Lòng</a><br>
                <a href="/">Group Mât Mã Về Mùi Hương</a><br>
                <a href="/">Chính Sách Bảo Hành</a><br>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                <p><span style="font-weight: bold;">CHÍNH SÁCH BÁN HÀNG</span></p>
                <a href="">Hướng Dẫn Mua Hàng</a><br>
                <a href="/">Chính Sách Đổi Trả Hàng</a><br>
                <a href="/">Liên Kết Đại Lý</a><br>
                <a href="/">Điều Khoản Sử Dụng</a><br>
                <a href="/">Chính Sách Giao Hàng ,Nhận Hàng, Kiểm Hàng Và Hoàn Hàng</a><br>
                <a href="/">Chính Sách Bảo Mật Thông Tin Cá Nhân</a><br>
                <a href="/">Quy Định Chung</a><br>
            </div>
            <div id="register" class="col-lg-2 col-md-6 col-sm-12">
                <p><span style="font-weight: bold;">HÌNH THỨC THANH TOÁN</span></p>
                <img src="./images/New folder/thanh toán.png" />
                <img src="./images/New folder/visa.png" />
                <img src="./images/New folder/master.png" />
                <img src="./images/New folder/jcb.png" />
                <img src="./images/New folder/trả góp.png" /> </br>
                <p><span style="font-weight: bold;">ĐƠN VỊ VẬN CHUYỂN</span></p>
                <img src="./images/New folder/vận chuyển.png" />
                <img src="./images/New folder/ahamov.png" />
                <img src="./images/New folder/best.png" />
                <img src="./images/New folder/be.png" />
                <img src="./images/New folder/grap.png" />
                <img src="./images/New folder/ninja.png" />
                <img src="./images/New folder/spx.png" />
                <img src="./images/New folder/viettel.png" />
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 mxh">
                <p><span style="font-weight: bold;">THEO DÕI CHÚNG TÔI TRÊN</span></p>
                <img src="./images/New folder/fb.webp" /><a href="https://www.facebook.com/deevisco1">Facebok</a></br>
                <img src="./images/New folder/Shopee.png" /><a href="https://shopee.vn/devissco">Shopee</a></br>
                <img src="./images/New folder/lazada.png" /><a href="/">Lazada</a></br>
                <img src="./images/New folder/tiktok.jpg" /><a href="https://www.tiktok.com/@deevisco">Tiktok</a></br>
                <img src="./images/New folder/instagram-512.webp" /><a href="/">Instagram</a></br>
                <img src="./images/New folder/Icon_Zalo.svg.png" /><a href="https://zalo.me/0328153741">zalo</a>
            </div>
        </div>


        <div>



        </div>
    </div>
</div>

<!-- end footer -->
