    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="row logo">
                <div id="logo" class="col-lg-2 col-md-2 col-2">
                    <h1><a href="/" title="deevisco"><img src="./images/New folder/logo xoa phong.png"
                                alt="deevisco" class="img-fluld" /></a>
                    </h1>
                </div>
                <div id="search" class="col-lg-6 col-md-6 col-6">
                    <form class="form-inline" method="get" action="/search">
                        <input name="keyword" class="form-control" type="search" placeholder="Tìm kiếm trong DEEVISCO"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><img
                                src="./images/New folder/Icon search.png" /></button>
                    </form>
                </div>
                <div id="cart" class="col-lg-2 col-md-2 col-2">
                    <a href="/cart"><img src="./images/New folder/icon-cart.png">
                        <span><%=totalCartItem%></span>
                    </a>
                </div>
                <div id="login" class="col-lg-2 col-md-2 col-1">
                    <a href="/"><img src="./images/New folder/icon dang nhap.png"></a>
                </div>
                <div class=" tabmenu col-1 " onclick="myFunction(this)" data-toggle="collapse"
                    class="navbar-toggler navbar-light" data-target="#menu" aria-controls="navbarToggleExternalContent"
                    aria-expanded="true" aria-label="Toggle navigation">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

            </div>

        </div>
    </div>
    <!-- end header -->