<!-- sliba -->
<div class="sliba col-lg-3 col-md-12 col-sm-12 an">
  <div class="row">
      <div class="col-lg-12 col-md-4">
          <div class="sliba-item" style="background:#fa5130;"><img src="./images/icon-mxh/4.png"><span
                  style="font-weight: bold; color:#fff; font-size: 15px;">HỖ TRỢ TRỰC TUYẾN</span>
          </div>
          <div class="sliba-item"> <img src="./images/icon-mxh/5.png">Gọi tư vấn:<span
                  style="color:red; font-weight: bold;"
                  style="color:red; font-weight: bold;">0986.733.999</span>
          </div>
          <div class="sliba-item">
              <div><img src="./images/icon-mxh/6.png">Hotline:<span
                      style="color:red; font-weight: bold;">02462 592 811</span></div>
              <hr>
              <div>
                  <img src="./images/icon-mxh/giaohangtoanquoc.png">
                  Thời gian giao hàng 1-2 ngày.</br>
                  <span style="font-weight: bold; margin:0 0 0 20%;">MIỄN PHÍ VẬN CHUYỂN</span></br>
                  <span style="margin:0 0 0 20%;">cho đơn hàng từ</span></br>
                  <span style="font-weight: bold; margin:0 0 0 20%;">2 chai trở lên</span>

              </div>
              <hr>
              <div><img src="./images/icon-mxh/chinh-sach-doi-tra-f88.png">Đổi trả trong vòng 30 ngày
              </div>
              <hr>
              <div><img src="./images/New folder/icon-bao-hanh.png">Bảo hành mùi hương trọn đời</div>
              <hr>
              <div><img src="./images/icon-mxh/Thanh-toan.png">Hình thức thanh toán đa dạng,<br><span
                      style="margin:0 0 0 20%;">chấp nhận COD</span>
              </div>
          </div>
      </div>
      <div class="col-lg-12 col-md-4">
          <div class="sliba-item">
              <div style="background:#fa5130;">
                  <img src="./images/icon-mxh/4.png">
                  <span style="font-weight: bold; color:#fff; font-size: 13px;">SẢN PHẨM FLASH
                      SALE</span>
              </div>
              <div class="hopthoaicate">
                  <div class="product-item bannercategori">
                      <div class="product-itemn-inner card cardcategori" style="margin-bottom: 10px;">
                          <div class="sale">
                              <p class="nhapnhay">-10%</p>
                          </div>
                          <div class="salesp">
                              <a href="#"><img src="images/New folder/san pham 1.png" />
                              </a>
                              <h2><a href="categoris.html"
                                      title="NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR">NƯỚC HOA
                                      GUCCI GUILTY ELIXIR DE PARFUM POUR</a></h2>
                              <p style="margin-bottom: 0px; text-align: center;">
                                  <span style="text-decoration: line-through;">500.000đ</span>
                                  <span style="font-weight: bold; color: #eb1f27;"
                                      class="nhapnhay">(-10%)</span>
                              </p>
                              <p style="margin-bottom: 0;">
                                  <sapn class="giasale">375.000đ</sapn>
                              </p>
                          </div>
                      </div>

                  </div>
                  <div class="product-item bannercategori">
                      <div class="product-itemn-inner card cardcategori" style="margin-bottom: 10px;">
                          <div class="sale">
                              <p class="nhapnhay">-10%</p>
                          </div>
                          <div class="salesp">
                              <a href="#"><img src="images/New folder/san pham 1.png" />
                              </a>
                              <h2><a href="categoris.html"
                                      title="NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR">NƯỚC HOA
                                      GUCCI GUILTY ELIXIR DE PARFUM POUR</a></h2>
                              <p style="margin-bottom: 0px; text-align: center;">
                                  <span style="text-decoration: line-through;">500.000đ</span>
                                  <span style="font-weight: bold; color: #eb1f27;"
                                      class="nhapnhay">(-10%)</span>
                              </p>
                              <p style="margin-bottom: 0;">
                                  <sapn class="giasale">375.000đ</sapn>
                              </p>
                          </div>
                      </div>

                  </div>
                  <div class="product-item bannercategori">
                      <div class="product-itemn-inner card cardcategori" style="margin-bottom: 10px;">
                          <div class="sale">
                              <p class="nhapnhay">-10%</p>
                          </div>
                          <div class="salesp">
                              <a href="#"><img src="images/New folder/san pham 1.png" />
                              </a>
                              <h2><a href="categoris.html"
                                      title="NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR">NƯỚC HOA
                                      GUCCI GUILTY ELIXIR DE PARFUM POUR</a></h2>
                              <p style="margin-bottom: 0px; text-align: center;">
                                  <span style="text-decoration: line-through;">500.000đ</span>
                                  <span style="font-weight: bold; color: #eb1f27;"
                                      class="nhapnhay">(-10%)</span>
                              </p>
                              <p style="margin-bottom: 0;">
                                  <sapn class="giasale">375.000đ</sapn>
                              </p>
                          </div>
                      </div>

                  </div>
                  <div class="product-item bannercategori">
                      <div class="product-itemn-inner card cardcategori" style="margin-bottom: 10px;">
                          <div class="sale">
                              <p class="nhapnhay">-10%</p>
                          </div>
                          <div class="salesp">
                              <a href="#"><img src="images/New folder/san pham 1.png" />
                              </a>
                              <h2><a href="categoris.html"
                                      title="NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR">NƯỚC HOA
                                      GUCCI GUILTY ELIXIR DE PARFUM POUR</a></h2>
                              <p style="margin-bottom: 0px; text-align: center;">
                                  <span style="text-decoration: line-through;">500.000đ</span>
                                  <span style="font-weight: bold; color: #eb1f27;"
                                      class="nhapnhay">(-10%)</span>
                              </p>
                              <p style="margin-bottom: 0;">
                                  <sapn class="giasale">375.000đ</sapn>
                              </p>
                          </div>
                      </div>

                  </div>
                  <div class="product-item bannercategori">
                      <div class="product-itemn-inner card cardcategori" style="margin-bottom: 10px;">
                          <div class="sale">
                              <p class="nhapnhay">-10%</p>
                          </div>
                          <div class="salesp">
                              <a href="#"><img src="images/New folder/san pham 1.png" />
                              </a>
                              <h2><a href="categoris.html"
                                      title="NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR">NƯỚC HOA
                                      GUCCI GUILTY ELIXIR DE PARFUM POUR</a></h2>
                              <p style="margin-bottom: 0px; text-align: center;">
                                  <span style="text-decoration: line-through;">500.000đ</span>
                                  <span style="font-weight: bold; color: #eb1f27;"
                                      class="nhapnhay">(-10%)</span>
                              </p>
                              <p style="margin-bottom: 0;">
                                  <sapn class="giasale">375.000đ</sapn>
                              </p>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-12 col-md-4">
          <div class="sliba-item">
              <div style="background:#fa5130;">
                  <img src="./images/icon-mxh/4.png">
                  <span style="font-weight: bold; color:#fff; font-size: 15px;">SẢN PHẨM MỚI</span>
              </div>
              <div class="hopthoaicate">
                  <div class="product-item bannercategori" style="margin-bottom: 4%;">
                      <div class="product-itemn-inner card cardcategori">
                          <div class="iconnew">
                              <img src="./images/New folder/icon new.png"
                                  style="width: 22%; margin-left: 80%;" />
                          </div>
                          <div class="salesp" style="margin-bottom: -5%;">
                              <a href="categoris.html"><img src="images/New folder/san pham 1.png"
                                      title="NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR"
                                      style="margin-top: -9%;" />
                              </a>
                              <h2><a href="categoris.html">NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR</a>
                              </h2>
                              <p style="padding-top: 10px; margin-bottom: 0px;"><span
                                      style="text-decoration: line-through;">500.000đ</span> <span
                                      style="font-weight: bold; color: #eb1f27;">(-10%)</span></p>
                              <p>
                                  <sapn class="giasale">375.000đ</sapn>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="product-item bannercategori">
                      <div class="product-itemn-inner card cardcategori" style="margin-bottom: 4%;">
                          <div class="iconnew">
                              <img src="./images/New folder/icon new.png"
                                  style="width: 22%; margin-left: 80%;" />
                          </div>
                          <div class="salesp" style="margin-bottom: -5%;">
                              <a href="categoris.html"><img src="images/New folder/san pham 1.png"
                                      title="NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR"
                                      style="margin-top: -9%;" />
                              </a>
                              <h2><a href="categoris.html">NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR</a>
                              </h2>
                              <p style="padding-top: 10px; margin-bottom: 0px;"><span
                                      style="text-decoration: line-through;">500.000đ</span> <span
                                      style="font-weight: bold; color: #eb1f27;">(-10%)</span></p>
                              <p>
                                  <sapn class="giasale">375.000đ</sapn>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="product-item bannercategori">
                      <div class="product-itemn-inner card cardcategori" style="margin-bottom: 4%;">
                          <div class="iconnew">
                              <img src="./images/New folder/icon new.png"
                                  style="width: 22%; margin-left: 80%;" />
                          </div>
                          <div class="salesp" style="margin-bottom: -5%;">
                              <a href="categoris.html"><img src="images/New folder/san pham 1.png"
                                      title="NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR"
                                      style="margin-top: -9%;" />
                              </a>
                              <h2><a href="categoris.html">NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR</a>
                              </h2>
                              <p style="padding-top: 10px; margin-bottom: 0px;"><span
                                      style="text-decoration: line-through;">500.000đ</span> <span
                                      style="font-weight: bold; color: #eb1f27;">(-10%)</span></p>
                              <p>
                                  <sapn class="giasale">375.000đ</sapn>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="product-item bannercategori">
                      <div class="product-itemn-inner card cardcategori" style="margin-bottom: 4%;">
                          <div class="iconnew">
                              <img src="./images/New folder/icon new.png"
                                  style="width: 22%; margin-left: 80%;" />
                          </div>
                          <div class="salesp" style="margin-bottom: -5%;">
                              <a href="categoris.html"><img src="images/New folder/san pham 1.png"
                                      title="NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR"
                                      style="margin-top: -9%;" />
                              </a>
                              <h2><a href="categoris.html">NƯỚC HOA GUCCI GUILTY ELIXIR DE PARFUM POUR</a>
                              </h2>
                              <p style="padding-top: 10px; margin-bottom: 0px;"><span
                                      style="text-decoration: line-through;">500.000đ</span> <span
                                      style="font-weight: bold; color: #eb1f27;">(-10%)</span></p>
                              <p>
                                  <sapn class="giasale">375.000đ</sapn>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end sliba -->